
html, body {
    height: 100%;
    width: 100%;
  }
  body{
      background-color: MediumTurquoise;
      
  }
  
 
  img{
    height: 90%;
    width: 80%;


  }

div{
    background-color: MediumTurquoise;
  position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%,-50%);
   padding: 50px;
}


      