
html, body {
    height: 100%;
    width: 100%;
  }
  body{
      background-color: MediumTurquoise	;
  }
  
 
  img{
    height: 90%;
    width: 80%;
  
  }

select{
  position: absolute;
  text-align: center;
}


      